{% load static %}
    
    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">Mehmet Sait <br> OGUZ</a>
                <div>
                    <a href="https://www.linkedin.com/in/msoguz/" class="footer__social"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>

            
            <div class="footer__content">
                <h3 class="footer__title">Contac</h3>
                <ul>
                    <li>msoguz44@gmail.com</li>
                </ul>
            </div>
        </div>

        <p class="footer__copy">&#169; 2022 MSOGUZ. All right reserved</p>
    </footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>